# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
venv/
ENV/

# Специфичное для проекта (Ядро Xray и временные файлы)
xray_bin/
*.json
!config.json
*.tmp

# Локальные файлы результатов проверки (теперь они в Gist, в репе не нужны)
valid_internet_links.txt
valid_whitelist_links.txt

# IDE / Системные файлы
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db